*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.55), rgba(4, 9, 30, 0.55)), url(images/Cropfield.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: .25% 6%;
  padding-top: .5vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(54, 69, 79, .6);
  position: fixed;
  z-index: 1;
  width: 90%;
  top: 0;
  /* left: 0; */
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #AAFF00;
  text-decoration: none;
  font-size: 17px;
}

.active::after {
  content: '';
  width: 100% !important;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  /* transition: 0.5s; */
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box-sub {
  width: 90%;
  color: #fff;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 70px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.pop-btn {
  text-decoration: none !important;
  background: rgba(108, 122, 137, 0.60) !important;
  border: 1px solid #AAFF00 !important;
  position: relative !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  font-size: 12px !important;
  text-transform: none !important;
  font-family: 'Poppins', sans-serif !important;
}

.pop-over {
  max-width: 70% !important;
  /* border-radius: 10% !important; */
  font-family: 'Poppins', sans-serif !important;
}

.fine-font {
  font-family: 'Poppins', sans-serif !important;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #AAFF00;
  padding: 12px 34px;
  font-size: 17px;
  font-weight: 600;
  background: rgba(108, 122, 137, 0.70);
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.hero-btn:hover {
  border: 1px solid #81B622;
  background: rgba(129, 182, 34, 0.75);
  transition: 1s;
}

nav .fa {
  display: none;
}

@media(max-width: 700px) {
  /* .text-box h1 { */
    /* font-size: 20px; */
  /* } */
  .nav-links ul li {
    display: block;
  }
  .nav-links ul li a {
    color: #fff;
  }
  .nav-links {
    position: absolute;
    background: #81B622;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  #navLinks {
    display: none;
    transition: display 0.5s;
  }
  .pop-over {
    max-width: 95% !important;
  }
  .text-box-sub{
    bottom: 40%;
  }
}

/* Meet the team */
.team {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.gray {
  background-color: rgba(236, 240, 241, .7);
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
}

.cent-row {
  margin-top: 1%;
  /* display: flex; */
  justify-content: space-around;
  text-align: center;
}

.dronepic {
  max-width: 40%;
}

#projImg {
  /* padding-left: 10%; */
  margin-left: 10%;
  margin-right: 0 !important;
  padding-right: 0 !important;
  display: flex;
  align-items: center;
}

.left-row {
  margin-top: 1%;
  /* display: flex; */
  justify-content: space-around;
  text-align: left;
}

.profpic {
  border-radius: 50%;
  border: 2px solid black;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.team-col {
  flex-basis: 31%;
  /* background: rgba(129, 182, 34, 0.4); */
  background: linear-gradient(to bottom, rgba(129, 182, 34, 0.4), rgba(129, 182, 34, 0.6));
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.team-col h4 {
  font-weight: 600;
}

.team-col p {
  color: black;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.team-col:hover {
  /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) */
  box-shadow: 0 20px 40px rgba(0,0,0,0.2)
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .team .row {
    padding-bottom: 15%;
  }
  .dronepic {
    max-width: 80%;
  }
  .small-image {
    max-width: 80% !important;
  }
  .small-image-square {
    max-width: 45% !important;
  }
  .cv-col img {
    max-width: 100%;
  }
}

#AM_Logo {
  display: block;
  margin: 0 auto;
  height: 20vh;
  width: auto;
  padding-bottom: 2%;
}

.Aggie {
  color: rgba(80, 0, 0, 1);
  font-weight: 700;
  font-size: xx-large;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.footer h4 {
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 600;
}

.git .fa {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: 1px solid #AAFF00;
  margin-top: 10px;
  padding: 12px 34px;
  background: rgba(108, 122, 137, 0.60);
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.font-fam {
  font-family: 'Poppins', sans-serif;
}

.team-col .fa {
  color: #0072b1;
  font-size: 36px;
}

.footer img {
  padding-top: 5px;
  height: 3vh;
  width: auto;
}


/* Project Concept Page */

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.55), rgba(4, 9, 30, 0.55)), url(images/Cropfield.jpg);
  background-position: top;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
}

.concept {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.concept-col {
  flex-basis: 48%;
  padding: 30px 2px;
  /* padding-top: 1vh !important; */
}

.concept-col img {
  width: 80%;
}

.concept-col h1 {
  padding-top: 0;
}

.concept-col p {
  padding: 15px 0 25px;
  font-size: 20px;
}

.banner {
  background-color: rgba(108, 122, 137, 0.20);
  padding: 12px 34px;
  text-align: center;
  font-size: 17px; 
  font-weight: 600;
  border-radius: 10px; 
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #AAFF00;
}

.dot {
  color: #81B622 !important;
  background-color:  rgba(129, 182, 34, 0.6) !important;
}

.banner p {
  /* color: rgb(0, 0, 0); */
  font-weight: 400;
}

#Subtext {
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: center;
}

/* Computer Vision Page */
.cv {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.cv-col {
  /* flex-basis: 48%; */
  padding: 30px 2px;
}

.cv-col img {
  width: 100%;
}

.cv-col h1 {
  padding-top: 0;
}

.cv-col h2 {
  font-size: 27px;
  font-weight: 600;
}

.cv-col h3 {
  font-size: 24px;
  font-weight: 600;
}

.cv-col p {
  padding: 15px 0 25px;
  font-size: 20px;
}

.emphasis {
  font-weight: bold;
  color: rgb(129, 182, 34);
  font-size: 22px;
}

.no-link {
  text-decoration: none;
}

.large-image {
  max-width: 75%; 
  height: auto;
  display: block;
  margin: 0 auto;
  /* border-radius: 10%; */
}

.small-image {
  /* width: 50%;  */
  max-width: 20%; 
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10%;
}

.small-image-square {
  /* width: 50%;  */
  padding-top: 10px;
  max-width: 15%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.acenter {
  text-align: center;
}


/* User Interface Page */

/* .User_Interface {
  padding-top: 3vh;
  padding-bottom: 3vh;
} */

.UI {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.UI-col {
  /* flex-basis: 48%; */
  padding: 30px 2px;
}

.UI-col img {
  width: 100%;
}

.UI-col h1 {
  padding-top: 0;
}

.UI-col p {
  padding: 15px 0 25px;
  font-size: 20px;
}

#field {
  /* padding-top: 3vh; */
  /* padding-bottom: 3vh; */
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
  border: 10px solid black;
  box-sizing: border-box;
}
